.default {
  & .sidebarWrapper {
    width: 300px;
    min-height: 600px;
    box-shadow: 0 2px 20px 1px rgba(0, 0, 0, 0.3);

    & .sidebar {
      & .list {
        & .item {
          cursor: pointer;

          & .text {
          }
        }
      }
    }
  }
}
